/* Fonts */
$logo-font: 'Lobster Two', cursive;
$header-font: 'Montserrat', sans-serif;
$content-font: 'Taviraj', serif;

/* Colors */
$main-theme: #fed136;
$primary-text-dark: #000000;
$secondary-text-dark: #4c4a4a;
$text-light: #ffffff;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $content-font;
    color: $primary-text-dark;
}

.section-title {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {
        font-family: $header-font;
        font-size: 40px;
        margin-bottom: 0;
    }

    h2 {
        font-style: italic;
        color: $secondary-text-dark;
        margin-top: 0;
        font-size: 18px;
    }
}

/* Navigation */
.navigation {
    height: 700px;
    width: 110vw;
    padding: 30px 220px;
    background-image: url('/images/navpic.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    
    a {
        text-decoration: none;
    }
}

.logo {
    font-family: $logo-font;
    font-size: 33px;
    color: $main-theme;
    padding: 0;
}

.nav-item {
    padding-top: 15px;
}

.nav-link {
    font-family: $header-font;
    font-size: 13px;
    color: $text-light;
    margin-top: 10px;
}

.title-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    color: $text-light;
    

    h2 {
        font-size: 40px;
        font-style: italic;
        margin: 0 auto 10px auto;
    }

    h1 {
        font-size: 70px;
        font-family: $header-font;
        margin: 10px auto 50px auto;
    }

    .btn {
        padding: 20px 50px;
        border-radius: 3px;
        background-color: $main-theme;
        color: $text-light;
        font-family: $header-font;
        margin: auto;
        margin-bottom: 10px;
    }
}

/* Services */
.services-section {
    padding: 30px 220px;
    width: 110vw;
    height: 700px;

    i {
        color: $main-theme;
        padding: 10px;
        font-size: 35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: $main-theme 3px solid;
        position: relative;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    h3 {
        font-family: $header-font;
    }

    p {
        margin-top: 0;
    }
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        font-size: 13px;
        color: $secondary-text-dark;
    }

}