/* Fonts */
$logo-font: 'Lobster Two', cursive;
$header-font: 'Montserrat', sans-serif;
$content-font: 'Taviraj', serif;

/* Colors */
$main-theme: #fed136;
$primary-dark: #000000;
$secondary-dark: #4c4a4a;
$primary-light: #ffffff;
$secondary-light: #f7f7f7;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $content-font;
    color: $primary-dark;
}

nav,
section,
footer {
    padding: 30px 190px;
}

.section-title {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;

    h1 {
        font-family: $header-font;
        font-size: 35px;
        margin-bottom: 0;
    }

    h2 {
        font-style: italic;
        color: $secondary-dark;
        font-size: 15px;
        margin-top: 5px;
    }
}

/* Navigation */
.navigation {
    padding-bottom: 130px;
    background-image: url('/images/navpic.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        align-items: flex-end;
    }
    
    a {
        text-decoration: none;
    }
}

.nav-link-container {
    padding-left: 50px;
}

.logo {
    font-family: $logo-font;
    font-size: 33px;
    color: $main-theme;
    padding: 0;
}

.nav-link {
    font-family: $header-font;
    font-size: 13px;
    color: $primary-light;
    margin-top: 10px;
}

.title-container {
    margin-top: 170px;
    text-align: center;
    color: $primary-light;
    

    h2 {
        font-size: 35px;
        font-style: italic;
        margin: 10px auto 0 auto;
    }

    h1 {
        font-size: 65px;
        font-family: $header-font;
        margin: 10px auto 30px auto;
    }

    .btn {
        display: inline-block;
        padding: 20px 50px;
        border-radius: 3px;
        background-color: $main-theme;
        color: $primary-light;
        font-family: $header-font;
        margin: 15px auto;
    }
}

/* Services */
.services-section {
    padding-bottom: 80px;
    padding-top: 60px;

    i {
        color: $main-theme;
        padding: 10px;
        font-size: 35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: $main-theme 3px solid;
        position: relative;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    h3 {
        font-family: $header-font;
        font-size: 16px;
        margin-bottom: 10px;
    }

    p {
        margin-top: 0;
    }
}

.services-container {
    row-gap: 30px;
}

.service-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: center;
        font-size: 13px;
        color: $secondary-dark;
    }
}

/* Portfolio */
.portfolio-section {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: $secondary-light;

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.portfolio-row {
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 50px;
}

.portfolio-box {
    background-color: $primary-light;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
        width: 100%;
    }

    h3 {
        font-family: $header-font;
        margin-bottom: 0;
        font-size: 18px;
    }

    p {
        color: $secondary-dark;
        font-style: italic;
        margin-top: 0;
        font-size: 15px;
    }
}

/* Footer */
footer {
    padding-top: 35px;
    text-align: end;

    p {
        color: $secondary-dark;
        font-size: 14px;
    }
}

.media-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px;

    i {
        color: $primary-light;
        background-color: $secondary-dark;
        font-size: 20px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        position: relative;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

/* Media */
@media (max-width: 1280px) {
    nav,  
    footer {
          padding: 30px 80px;

          p {
              font-size: 12px;
          }
      }
}

@media (max-width: 767px) {
    nav,
    footer {
        padding: 30px 10px;
    }

    section {
        padding: 30px 100px;
    }

    .section-title {
        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 12px;
        }
    }

    .navigation {
        .container {
            max-width: none;
        }
    }

    .nav-link-container {
        a {
            font-size: 12px;
        }

        .col {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .logo {
        font-size: 30px;
    }

    .title-container {
        margin-top: 70px;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 25px;
        }
    }
}